<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>《自生密義莊嚴論》－－闡明《辨識智論》字義論.md</string>
		</array>
		<array>
			<string>༈ རྣམ་པར་ཤེས་པ་དང་ཡེ་ཤེས་འབྱེད་པའི་བསྟན་བཅོས་ཀྱི་ཚིག་དོན་གོ་གསལ་དུ་འགྲེལ་པ་རང་བྱུང་དགོངས་པའི་རྒྱན་.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Sheets</string>
</dict>
</plist>
